@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


/* ======================================================
   VARIABLES ET RESET
====================================================== */
:root {
    --primary: #4426f1;
    --bg-color: #f8f4e3;
    --text-color: #000;
    --heading-color: #4426f1;

    /* Tailles */
    --dot-size: 20px;
    --dot-border-width: 2px;
    --spacing-small: .2rem;
    --spacing-m: 2vh;
    --spacing-xl: 4vh;
    --spacing: 50%;

    /* Polices */
    --subtitle-family:  "Anton", sans-serif;
    --title-family:  "Inter", sans-serif;
    --compressed: scaleY(.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    width: 100%;
    height: max-content;
    position: relative;
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
}

a, li {
    text-decoration: none;
    color: var(--primary);
    list-style: none;
}


/* ================================================
    SECTION
================================================= */
#hero, #sommaire, #about, #skills, #project1, #project2, #project3, #project4, #formations, #motivation, #contact {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;    
}
#hero {
    grid:
        "sidebar hero-content" 1fr
        / 10% 90%;
}
#sommaire {
    grid:
        "sidebar table-of-contents" 1fr
        / 10% 90%;
}
#about {
    grid:
        "sidebar container-principale" 1fr
        / 10% 90%;
}
#skills {
    grid:
        "sidebar container-principale" 1fr
        / 10% 90%;
}
#project1 {
    grid:
        "sidebar container-principale" 1fr
        / 10% 90%;
}
#project2 {
    grid:
        "sidebar container-principale" 1fr
        / 10% 90%;
}
#project3 {
    grid:
        "sidebar container-principale" 1fr
        / 10% 90%;
}
#project4 {
    grid:
        "sidebar container-principale" 1fr
        / 10% 90%;
}
#formations {
    grid:
        "sidebar container-principale" 1fr
        / 10% 90%;
}
#motivation {
    grid:
        "sidebar container-principale" 1fr
        / 10% 90%;
}
#contact {
    grid:
        "sidebar container-principale" 1fr
        / 10% 90%;
}
    .side {
        grid-area: sidebar;
    }
    .container-principale {
        position: relative;
    }
    .container-principale h2 {
        text-transform: uppercase;
    }

/* ================================================
   SIDEBAR
================================================= */
.sidebar {
    grid-area: sidebar;
    position: fixed;
    width: 10%;
    height: 100%;
    text-transform: uppercase;
    border-right: 3px solid var(--primary);
    background-color: var(--bg-color);
    padding: var(--spacing-xl) 1vh;
    display: grid;
    grid:
        "nav-top" 15%
        "nav-mid" 70%
        "nav-bottom" 15%
        / 1fr;
    z-index: 9999;
}
.nav-top, .nav-mid, .nav-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-top a, .nav-bottom a {
    position: relative;
    padding: var(--spacing-small) 0;
} 
    .nav-top a::after, .nav-bottom a::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background-color: var(--primary);
        transition: width .2s ease-in-out;
    }
    .nav-top a:hover::after, .nav-bottom a:hover::after {
        width: 100%;    
    }

    .nav-top ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: right;
        height: 100%;
    }
    .nav-top ul li:first-child {
        font-weight: 600;
    }
    .nav-mid ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;        
        pointer-events: auto;
    }
            .nav-mid a.dot {
                display: block;
                width: var(--dot-size);
                height: var(--dot-size);
                border: 2px solid var(--primary);
                border-radius: 50%;
                text-indent: -9999px;
            }
            .nav-mid a.dot.active {
                background-color: var(--primary);
            } 
    .nav-bottom {
        display: flex;
        justify-content: center;
        height: 100%; 
        text-align: right;   
        font-weight: 500;
    }



/* =========================================================
    HERO
========================================================== */
/* ---------- Contenu central de la Hero ---------------- */
.hero-content {
    grid-area: hero-content;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid:
        "hero-left hero-right" 1fr
        / 50% 50%;
    z-index: 2;
}
    .hero-left, .hero-right {
        display: flex;
        flex-direction: column;
    }
/* ------------ En position absolute -------------- */
.hero-image, .title {
    position: absolute;
    left: 50%;
    text-align: center;
}
    .hero-image {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);        
        width: 35%;
        height: 75%;
        background-color: #000;
        /* background-image: url("assets/Format\ mobile-first.png");
        background-size: cover;
        background-position: center; */
        opacity: .5;
        border-radius: 8px;
        z-index: -3;
    }
    .title {
        position: absolute;
        top: 14vh;
        color: var(--heading-color);
        font-family: var(--title-family);
        transform: var(--compressed) translateX(-50%);
        font-size: 18vh;
        letter-spacing: 1vh;
        text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
        z-index: 3;
    }


/* --------- Informations de gauche (Nom + Réseaux) ------------- */
.hero-left {
    grid-area: hero-left;
    justify-content: flex-end;
    text-align: right;
    padding: 25% 50% 25% 15%;
}
    .social {
        height: 40%;
    }
        .hero-left .name {
            display: flex;
            font-size: 1.5rem;
            font-weight: bold;
            text-transform: uppercase;
            color: var(--heading-color);
            transform: var(--compressed);
            padding-bottom: var(--spacing-m);
            letter-spacing: -2px;
        }
        .social-title {
            opacity: .9;
            font-size: var(--spacing-m);
        }
        .social-link {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border: 2px solid var(--primary);
            color: var(--primary);
            font-weight: 600;
            text-decoration: none;
            border-radius: 50%;
            font-size: 0.8rem;
            margin-left: var(--spacing-m);
            margin-top: var(--spacing-m);
        } 

/* --------- Informations de droite (Textes et Bouton) ----------- */
.hero-right {
    grid-area: hero-right;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: left;
    padding: 17% 15% 17% 50%;
}
    .social-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 75%;
    }
        .hero-right .subtitle {
            font-size: 1rem;
            color: var(--text-color);
            line-height: 1.4;
        }
        .hero-button {
            position: relative;
            display: inline-flex;
            align-items: center;
            padding: 10px 20px;
            background-color: transparent;
            border: 2px solid var(--primary);
            color: var(--primary);
            text-decoration: none;
            font-size: 1rem;
            font-weight: bold;
            border-radius: 4px;
            margin-top: var(--spacing-xl);
        }
            .hero-button::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                height: 100%;
                width: 0;
                background-color: var(--primary);
                transition: width .3s linear;
                z-index: -2;
            }
            .hero-button:hover::after {
                width: 100%;   
            }
            .hero-button:hover {
                color: var(--bg-color);
            }
            .hero-button .arrow {
                margin-left: 8px;
                font-size: 1.2rem;
            }

/* =============================================================
   SOMMAIRE
============================================================== */
.table-of-contents {
    grid-area: table-of-contents;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10% 25%;
}
.table-of-contents h2 {
    text-transform: uppercase;
    padding: var(--spacing-m) 0;  
}
.container-sommaire {
    border: 1px solid var(--primary);
    border-radius: 8px;
}
.container-sommaire ul {
    width: 100%;
    border-bottom: 1px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.container-sommaire ul:last-of-type {
    border-bottom: none;
}    
    .som-li {
        width: 100%;
        padding: var(--spacing-m);
        transition: transform .3s linear;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    .som-li span {
        align-self: flex-end;
    }
            .som-li::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                height: 100%;
                width: 0;
                background-color: var(--primary);
                transition: width .4s linear;
                z-index: -2;
            }
            .container-sommaire ul:first-of-type .som-li::after {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }
            .container-sommaire ul:last-of-type .som-li::after {
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
            }

            .som-li:hover::after {
                width: 100%;
            }         
            .som-li:hover a, .som-li:hover span {
                color: var(--bg-color);               
            }


/* ================================================
   ABOUT
================================================= */

/* ================================================
   SKILLS
================================================= */

/* ================================================
   PROJET 1
================================================= */

/* ================================================
   PROJET 2
================================================= */

/* ================================================
   PROJET 3
================================================= */

/* ================================================
   PROJET 4
================================================= */

/* ================================================
   PROJET 4
================================================= */

/* ================================================
   FORMATIONS
================================================= */

/* ====================================================
   MOTIVATIONS
==================================================== */

/* ================================================
   CONTACT
================================================= */


/* ================================================
   MEDIA QUERIES
================================================= */
/* @media (min-width: 768px) {
  .title {
    font-size: 4rem;
  }
  .hero-left .name {
    font-size: 2rem;
  }
  .hero-right .subtitle {
    font-size: 1.1rem;
  }
} */